@inherits LayoutComponentBase
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout>
    <MudAppBar Class="bg-glass">

        Geovenci 2.0 - @if(UserClaims != null) @UserClaims?.FindFirstValue("FirstName");
        <MudSpacer />
       
           
            <MudMenu>
                <ActivatorContent>
                    <MudAvatar role="button" Color="Color.Primary">
                        @{
                            var name = "G";
                            @if (UserClaims != null)
                            {
                                @UserClaims?.FindFirstValue("FirstName")?.Substring(0, 1) 
                                @UserClaims?.FindFirstValue("LastName")?.Substring(0, 1);
                            }
                            else
                            {
                                @name;
                            }

                        }
                       
                    </MudAvatar>
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem>Enlist</MudMenuItem>
                    <MudMenuItem>Barracks</MudMenuItem>
                    <MudMenuItem>
                        <form method="post" action="Identity/Account/Logout">
                            <button type="submit" class="nav-link btn btn-link">Log out</button>
                        </form>
                    </MudMenuItem>
                </ChildContent>
            </MudMenu>
 
    </MudAppBar>

    <MudMainContent Class="min-vw-100 min-vh-100">
            @Body
    </MudMainContent>
</MudLayout>

@code {
    private ClaimsPrincipal UserClaims;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        UserClaims = authState.User;
    }
}
